---
export interface Props {
  title: string;
}

const { title } = Astro.props;

const navLinks = [
  { href: "/", label: "Home" },
  { href: "/about", label: "About" },
  { href: "/contact", label: "Contact" },
];

const footerLinks = [
  { href: "/about", label: "Our Company" },
  { href: "/locations", label: "Locations" },
  { href: "/contact", label: "Contact" },
];

const socialLinks = [
  {
    href: "https://www.facebook.com",
    label: "Facebook",
    icon: "/assets/shared/desktop/icon-facebook.svg",
  },
  {
    href: "https://www.youtube.com",
    label: "Youtube",
    icon: "/assets/shared/desktop/icon-youtube.svg",
  },
  {
    href: "https://www.twitter.com",
    label: "Twitter",
    icon: "/assets/shared/desktop/icon-twitter.svg",
  },
  {
    href: "https://www.pinterest.com",
    label: "Pinterest",
    icon: "/assets/shared/desktop/icon-pinterest.svg",
  },
  {
    href: "https://www.instagram.com",
    label: "Instagram",
    icon: "/assets/shared/desktop/icon-instagram.svg",
  },
];

const metaDescription =
  "Designo is a global design agency specializing in web design, mobile design, and branding. We bring award-winning digital solutions to businesses large and small. Our goal is to build brands that are authentic and memorable. We are based in Toronto, but we serve clients all over the world.";

const pathName = Astro.url.pathname;
const isContactPage = pathName === "/contact";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/">
        <img src="/assets/shared/desktop/logo-dark.png" alt="logo" />
      </a>
      <div class="nav-menu">
        {navLinks.map(({ href, label }) => <a href={href}>{label}</a>)}
      </div>
      <button class="hamburger-menu">Hamburger menu</button>
    </nav>
    <div class="nav-menu-mobile">
      {navLinks.map(({ href, label }) => <a href={href}>{label}</a>)}
    </div>
    <slot />
    <footer>
      <div class="footer-content">
        {
          !isContactPage && (
            <div class="cta-contact hidden">
              <div class="text-container">
                <h2>Let's talk about your project</h2>
                <p>
                  Ready to take it to the next level? Contact us today and find
                  out how our expertise can help your business grow.
                </p>
              </div>
              <a href="/contact">Get in touch</a>
            </div>
          )
        }
        <div class="logo-nav-container">
          <a href="/">
            <img src="/assets/shared/desktop/logo-light.png" alt="logo" />
          </a>
          <ul>
            {
              footerLinks.map(({ href, label }) => (
                <li>
                  <a href={href}>{label}</a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="contact-container">
          <div class="address-contact-container">
            <div class="contact-info">
              <h3>Designo Central Office</h3>
              <p>3886 Wellington Street</p>
              <p>Toronto, Ontario M9C 3J5</p>
            </div>
            <div class="contact-info">
              <p>Contact Us (Central Office)</p>
              <p>P : +1 253-863-8967</p>
              <p>
                M : <a href="mailto:contact@designo.co">contact@designo.co</a>
              </p>
            </div>
          </div>
          <div class="social-link">
            {
              socialLinks.map(({ href, label, icon }) => (
                <a href={href}>
                  <img src={icon} alt={label} />
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<style is:global lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
  :root {
    --peach: #e7816b;
    --light-peach: #ffad9b;
    --lightest-peach: #fdf3f0;
    --black: #1d1c1e;
    --dark-grey: #333136;
    --light-grey: #f1f3f5;
    --white: #ffffff;
  }
  html {
    font-family: Jost, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    min-width: fit-content;
  }
  * {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    background-color: var(--white);
    max-width: 1120px;
    margin: 0 auto 64px;
    padding-top: 40px;

    .hamburger-menu {
      display: none;
    }

    @media screen and (max-width: 768px) {
      margin: 0 auto 56px;
      max-width: 700px;
    }

    @media screen and (max-width: 480px) {
      margin: 0 auto 24px;

      .hamburger-menu {
        all: unset;
        display: block;
        width: 24px;
        height: 20px;
        background-image: url("/assets/shared/mobile/icon-hamburger.svg");
        transition: all 0.3s ease-in-out;
        background-repeat: no-repeat;
      }

      .hamburger-menu.active {
        background-image: url("/assets/shared/mobile/icon-close.svg");
      }
    }

    img {
      width: 10rem;
    }

    .nav-menu {
      display: flex;
      gap: 2rem;

      @media screen and (max-width: 480px) {
        display: none;
      }

      a {
        color: var(--dark-grey);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 2px;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--peach);
        }
      }
    }
  }

  .nav-menu-mobile {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    background-color: var(--dark-grey);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: calc(100% - 64px);
    pointer-events: none;

    a {
      color: var(--white);
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  .nav-menu-mobile.active {
    opacity: 1;
    pointer-events: all;
  }

  main {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 110px;
    padding: 0 24px;

    @media screen and (max-width: 768px) {
      max-width: 700px;
    }

    @media screen and (max-width: 480px) {
      padding: 0;
      gap: 120px;
    }
  }

  footer {
    background-color: var(--black);
    width: 100%;

    .footer-content {
      margin: 320px auto 0;
      color: var(--white);
      justify-content: center;
      align-items: center;
      gap: 2rem;
      position: relative;
      max-width: 1120px;
      padding: 144px 0 72px;

      @media screen and (max-width: 768px) {
        max-width: 700px;
      }

      @media screen and (max-width: 480px) {
        padding: 160px 24px 48px;
      }

      .cta-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url("/assets/shared/desktop/bg-pattern-call-to-action.svg")
            no-repeat,
          var(--peach);
        background-position: 100% 50%;
        border-radius: 16px;
        position: absolute;
        top: -210px;
        width: calc(100% - 192px);
        padding: 72px 96px;

        @media screen and (max-width: 768px) {
          background-size: cover;
          flex-direction: column;
          top: -70%;
          padding: 56px 0;
          gap: 32px;
          width: 100%;
        }

        @media screen and (max-width: 480px) {
          width: calc(100% - 48px);
          top: -37.5%;
        }

        .text-container {
          max-width: 50%;

          @media screen and (max-width: 768px) {
            max-width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        h2 {
          font-size: 40px;
          line-height: 40px;
          letter-spacing: 2px;
          font-weight: 500;
          max-width: 300px;
          margin-bottom: 16px;

          @media screen and (max-width: 480px) {
            font-size: 32px;
          }
        }

        p {
          letter-spacing: 1px;
          max-width: 350px;
        }

        a {
          color: var(--black);
          font-weight: 500;
          text-transform: uppercase;
          font-size: 15px;
          line-height: 14px;
          letter-spacing: 2px;
          padding: 18px;
          background-color: var(--white);
          border-radius: 12px;

          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: var(--light-peach);
            color: var(--white);
          }

          @media screen and (max-width: 768px) {
            margin-right: 0;
          }
        }
      }

      .logo-nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--dark-grey);

        @media screen and (max-width: 480px) {
          flex-direction: column;
          gap: 32px;
        }

        img {
          width: 10rem;
        }

        ul {
          display: flex;
          gap: 1rem;

          @media screen and (max-width: 480px) {
            flex-direction: column;
            align-items: center;
            padding: 0;
          }

          li {
            list-style: none;
          }

          a {
            color: var(--white);
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 2px;
          }
        }
      }

      .contact-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        @media screen and (max-width: 480px) {
          flex-direction: column;
          gap: 40px;
          align-items: center;
        }

        .address-contact-container {
          display: flex;
          width: 100%;
          padding-top: 40px;
          color: var(--white);

          @media screen and (max-width: 480px) {
            flex-direction: column;
            gap: 40px;
            align-items: center;
            text-align: center;
          }

          .contact-info {
            display: flex;
            flex-direction: column;
            width: 350px;

            @media screen and (max-width: 768px) {
              width: 220px;
            }

            h3,
            p,
            a {
              opacity: 0.5;
              font-size: 16px;
            }

            h3 {
              font-weight: 500;
            }

            a {
              color: var(--white);
              opacity: 1;
            }
          }
        }
        .social-link {
          display: flex;
          gap: 16px;
        }
      }
    }
  }

  .hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.75s ease-in-out;
    filter: blur(5px);

    @media (prefers-reduced-motion) {
      transition: none;
    }
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
</style>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hidden");
  hiddenElements.forEach((element) => {
    observer.observe(element);
  });

  const hamburgerMenu = document.querySelector(
    ".hamburger-menu"
  ) as HTMLElement;
  const navMenuMobile = document.querySelector(
    ".nav-menu-mobile"
  ) as HTMLElement;

  hamburgerMenu.addEventListener("click", () => {
    hamburgerMenu.classList.toggle("active");
    navMenuMobile.classList.toggle("active");
  });
</script>
