---
export interface Props {
  title: string;
}

const { title } = Astro.props;

const navLinks = [
  { href: "/", label: "Home" },
  { href: "/about", label: "About" },
  { href: "/contact", label: "Contact" },
];

const footerLinks = [
  { href: "/about", label: "Our Company" },
  { href: "/locations", label: "Locations" },
  { href: "/contact", label: "Contact" },
];

const socialLinks = [
  {
    href: "https://www.facebook.com",
    label: "Facebook",
    icon: "/assets/shared/desktop/icon-facebook.svg",
  },
  {
    href: "https://www.youtube.com",
    label: "Youtube",
    icon: "/assets/shared/desktop/icon-youtube.svg",
  },
  {
    href: "https://www.twitter.com",
    label: "Twitter",
    icon: "/assets/shared/desktop/icon-twitter.svg",
  },
  {
    href: "https://www.pinterest.com",
    label: "Pinterest",
    icon: "/assets/shared/desktop/icon-pinterest.svg",
  },
  {
    href: "https://www.instagram.com",
    label: "Instagram",
    icon: "/assets/shared/desktop/icon-instagram.svg",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <a href="/">
        <img src="/assets/shared/desktop/logo-dark.png" alt="logo" />
      </a>
      <ul>
        {navLinks.map(({ href, label }) => <a href={href}>{label}</a>)}
      </ul>
    </nav>
    <slot />
    <footer>
      <div class="footer-content">
        <div class="cta-contact">
          <div class="text-container">
            <h2>Let's talk about your project</h2>
            <p>
              Ready to take it to the next level? Contact us today and find out
              how our expertise can help your business grow.
            </p>
          </div>
          <a href="/contact">Get in touch</a>
        </div>
        <div class="logo-nav-container">
          <a href="/">
            <img src="/assets/shared/desktop/logo-light.png" alt="logo" />
          </a>
          <ul>
            {
              footerLinks.map(({ href, label }) => (
                <li>
                  <a href={href}>{label}</a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="contact-container">
          <div class="address-contact-container">
            <div class="contact-info">
              <h3>Designo Central Office</h3>
              <p>3886 Wellington Street</p>
              <p>Toronto, Ontario M9C 3J5</p>
            </div>
            <div class="contact-info">
              <p>Contact Us (Central Office)</p>
              <p>P : +1 253-863-8967</p>
              <p>
                M : <a href="mailto:contact@designo.co">contact@designo.co</a>
              </p>
            </div>
          </div>
          <div class="social-link">
            {
              socialLinks.map(({ href, label, icon }) => (
                <a href={href}>
                  <img src={icon} alt={label} />
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<style is:global lang="scss">
  @import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
  :root {
    --peach: #e7816b;
    --light-peach: #ffad9b;
    --lightest-peach: #fdf3f0;
    --black: #1d1c1e;
    --dark-grey: #333136;
    --light-grey: #f1f3f5;
    --white: #ffffff;
  }
  html {
    font-family: Jost, system-ui, sans-serif;
  }
  body {
    margin: 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--white);
    max-width: 1120px;
    margin: 0 auto;

    img {
      width: 10rem;
    }

    ul {
      display: flex;
      gap: 2rem;
    }

    li {
      list-style: none;
    }

    a {
      color: var(--dark-grey);
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 2px;
    }
  }

  main {
    max-width: 1120px;
    margin: 0 auto;
    padding: 130px 0 210px 0;
    display: flex;
    flex-direction: column;
    gap: 160px;
  }

  footer {
    background-color: var(--black);
    margin-top: 120px;
    width: 100%;

    .footer-content {
      margin: 0 auto;
      color: var(--white);
      justify-content: center;
      align-items: center;
      gap: 2rem;
      position: relative;
      max-width: 1120px;
      padding: 144px 0 72px 0;

      .cta-contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url("assets/shared/desktop/bg-pattern-call-to-action.svg")
            no-repeat,
          var(--peach);
        background-position: 100% 50%;
        border-radius: 16px;
        position: absolute;
        top: -210px;
        width: 100%;

        .text-container {
          max-width: 50%;
          padding: 64px 0 64px 72px;
        }

        h2 {
          font-size: 40px;
          line-height: 40px;
          letter-spacing: 2px;
          font-weight: 500;
          margin: 0;
          max-width: 300px;
        }

        p {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
          font-weight: 400;
          max-width: 350px;
        }

        a {
          color: var(--black);
          text-decoration: none;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 15px;
          line-height: 14px;
          letter-spacing: 2px;
          padding: 18px;
          background-color: var(--white);
          border-radius: 12px;
          margin-right: 72px;
        }
      }

      .logo-nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--dark-grey);

        img {
          width: 10rem;
        }

        ul {
          display: flex;
          gap: 1rem;

          li {
            list-style: none;
          }

          a {
            color: var(--white);
            text-decoration: none;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 2px;
          }
        }
      }

      .contact-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        .address-contact-container {
          display: flex;
          width: 100%;
          padding-top: 40px;
          color: var(--white);

          .contact-info {
            display: flex;
            flex-direction: column;
            width: 350px;

            h3,
            p,
            a {
              opacity: 0.5;
              font-size: 16px;
              margin: 0;
            }

            h3 {
              font-weight: 500;
            }

            p {
              font-weight: 400;
              line-height: 26px;
            }

            a {
              color: var(--white);
              opacity: 1;
              text-decoration: none;
            }
          }
        }
        .social-link {
          display: flex;
          gap: 16px;
        }
      }
    }
  }
</style>
